rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /users/{userId}{
			allow read: if request.auth.uid != null
      allow write: if request.auth.uid == userId
		}
    match /home-maps/{map}{
        allow read: if request.auth.uid != null
        allow write: if false
    }
    match /maps/{map}{
        allow read: if request.auth.uid != null
        allow create: if request.auth.uid == request.resource.data.user
        allow update: if false
    }
    match /map-counts/{map}{
        allow read: if request.auth.uid != null
        allow create: if request.auth.uid != null &&
                             (request.resource.data.plays == 1 || request.resource.data.likes == 1 || request.resource.data.dislikes == 1 ||
                              request.resource.data.plays == 0 || request.resource.data.likes == 0 || request.resource.data.dislikes == 0)
        allow update: if request.auth.uid != null &&
                            (request.resource.data.plays == resource.data.plays ||
        					request.resource.data.plays == resource.data.plays + 1 ||
        					request.resource.data.plays == 0 ||
        					request.resource.data.plays == 1) &&
                            (request.resource.data.likes == resource.data.likes ||
        					request.resource.data.likes == resource.data.likes + 1 ||
                            request.resource.data.likes == 0 ||
                            request.resource.data.likes == 1) &&
                            (request.resource.data.dislikes == resource.data.dislikes ||
        					request.resource.data.dislikes == resource.data.dislikes + 1 ||
                            request.resource.data.dislikes == 0 ||
                            request.resource.data.dislikes == 1)
    }
    match /map-collections/{collection}{
        allow read: if request.auth.uid != null
        allow write: if false
    }
    match /scores/{score}{
        allow read, create: if request.auth.uid != null
        allow update: if false
    }
    match /challenges/{challenge}{
    	allow get, create: if request.auth.uid != null
    	allow list, write: if false
    }
    match /reports/{report}{
    	allow get, create: if request.auth.uid == request.resource.data.user
    	allow list, write: if false
    }
  }
}